/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffe0b3, #ffcc99);
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #703b1a; /* Match the color theme */
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #4a4a4a;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: #d4d4d4;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #703b1a; /* Match the color theme */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a2f16;
}
